* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 웹 페이지 정중앙 위치*/
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.ghost {
    animation: moveUpdown 3s infinite;
    position: absolute;
}

@keyframes moveUpdown {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: -50px;
    }
    100% {
        margin-top: 0px;
    }
}

.ghost .body {
    width: 120px;
    height: 160px;
    background-color: #fff;
    /* 머리 부분 둥글게 */
    border-top-left-radius: 45%;
    border-top-right-radius: 45%; 
    position: relative;
}

.ghost .body .face {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;            /* 영역 넘어가면 자동 줄바꿈*/
    width: 70px;
    position: absolute;         /* 몸통 기준 */
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}


/* 눈 부분 */
.ghost .body .face .eye {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #333;
}

.ghost .body .face .mouse {
    width: 33px;
    height: 20px;
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 18px;
    margin-top: 18px;
}

.ghost .bottom {
    display: flex;          /* 한줄로 배치 */
    
}

.ghost .bottom .leg {
    background-color: #fff;
    width: 24px;
    height: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.ghost .bottom .leg:nth-child(2n) {
    position: relative;             /*현재 가지고 있는 위치 기준*/
    top: -6px;
    background-color: #000;
    border-radius: 50%;
}